$bg-color: #000;
$text-color: #55dffa;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $bg-color;

    h1 {
        color: $text-color;
        font: {
            size: 4rem;
            weight: bold;
        }
    }
}
