header {
    ul {
        list-style: none;
        li {
            border: 3px solid black;
            a {
                color: red;
                font-size: 5rem;
            }
        }
    }
}
